

.et-card{
    .p-list-item-img-1{
        background-image: url("../../assets/images/r1.jpg");
    }
    .p-list-item-img-2{
        background-image: url("../../assets/images/r2.jpg");
    }
    .p-list-item-img-3{
        background-image: url("../../assets/images/r3.jpg");
    }
    .p-list-item-img-4{
        background-image: url("../../assets/images/r4.jpg");
    }
}